__pycache__/
.test-output/
*.py[cod]
*.pyo

build/
dist/
*.spec.bak

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
.conda/

*.log

data/
design/

notebooks/

target.md
TARGET.md

docs/*
!docs/workflows.md
!docs/*.png
!docs/*.jpg

.idea/
